##############################################################################
# Logging                                                                    #
#----------------------------------------------------------------------------#
# Plugins which provide logging functions should be loaded first, so log     #
# messages generated when loading or configuring other plugins can be        #
# accessed.                                                                  #
##############################################################################

LoadPlugin syslog

{% if COLLECTD_ENABLE_LOG_FILE|default('true')|lower == 'true' %}
LoadPlugin "logfile"
<Plugin "logfile">
  LogLevel "{{ COLLECTD_LOG_LEVEL|default('info')}}"
  File "{{ COLLECTD_LOG_FILE|default('/var/log/collectd.log')}}"
  Timestamp true
</Plugin>
{% endif %}
